<!DOCTYPE html>
<html>
<head>
	<title> More About Me, Raymond Chappan</title>
	<a href="../index.html">Back to my main page</a>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
	<h1>Welcome to my about page! Here you will find more cool pictures that describe me. </h1>
	
	<figure>
		<img src="../Images/Brooklyn.jpg" width="470" height="500" alt="Welcome to Brooklyn!" id="pic6">
		<figcaption>I was born, raised, and still live, in Brookly, NY. It is the absolute best place ever. This is the sign I see every time I commute in via the Belt Parkway. When I see this sign I know I'm home.</figcaption>
		<button onclick="document.getElementById('pic6').style.filter = 'blur(10px)'">BlurMeBaby</button>
	</figure>


	<figure>
		<img src="../Images/Kotel.jpg" width="850" height="470" alt="Western Wall, Jerusalem, Israel" id="pic7">
		<figcaption>I am a Modern Orthodox Jew and that is such an essential part of my identity. I am observant of the laws of kosher, shabbat, and the holidays and this has a major impact on my daily life. Judaism is such a beautiful religion and I hold it really close to me. </figcaption>
		<button onclick="document.getElementById('pic7').style.filter = 'blur(10px)'">BlurMeBaby</button>
	</figure>


	<figure>
		<img src="../Images/Instagram.png" width="410" height="450" alt="Instagram Icon" id="pic8">
		<figcaption>Instagram is sadly a really big part of my life. Aside from being incredibly social on the app, using it to interact/keep up with friends and see funny memes, I also use it for work. I am a Social Media Manager for 4 brands and am constantly curating content and scheduling posts for all my clients. Its exhausting and kinda makes me feel a little bipolar. </figcaption>
		<button onclick="document.getElementById('pic8').style.filter = 'blur(10px)'">BlurMeBaby</button>
	</figure>


	<figure>
		<img src="../Images/Aleppo.jpg" width="660" height="530" alt="Woman in Aleppo, Syria circa 1940s" id="pic9">
		<figcaption>My family emigrated from Aleppo, Syria to New York in the early 1940s. My great-grandparents on my mother's side and my great-great-grandparents from my father's side are from there, and we still keep the Syrian culture alive today. We eat many Syrian foods and pray with Syrian tunes. I also constantly hear my grandparents speak Arabic when they dont want children to understand what they're saying. </figcaption>
		<button onclick="document.getElementById('pic9').style.filter = 'blur(10px)'">BlurMeBaby</button>
	</figure>


	<figure>
		<img src="../Images/Cabo.jpg" width="720" height="490" alt="El Arco de Cabo, Cabo San Lucas, Mexico" id="pic10">
		<figcaption>I traveled to Cabo for New Years and it was such a beautiful place! I really liked how you were able to find tranquil relaxation and a mix of insanely raunchy partying in one place. Plus, the food there is sooo good and the water/landscape is so nice. It was weird that they dont let you swim in the ocean there because of the strong currents and sharks, but I found the pool and the jet-skiing to be great substitues. I cant wait to go back there soon. </figcaption>
		<button onclick="document.getElementById('pic10').style.filter = 'blur(10px)'">BlurMeBaby</button>
	</figure>


</body>
</html>